@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply selection:bg-cyan-500/30;
  }
  
  body {
    @apply bg-slate-950 text-slate-200 font-sans overflow-x-hidden;
  }
}
